@import "./defaults/color";
@import "./components/header";
@import "./components/footer";

body {
    margin: 0;
    background-color: #a5a5a5 ;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    section {
        .jumbotron {
            img {
                height: 300px;
                width: 100%;
            }
        }
    }
}

.info {
    color: $secondary-color;

    p {
        margin: 5px 0;
    }
}

